@media screen and (max-width: 560px){
    .payments-title{
        display: block;
        width: 100%;
    }
    
    .mode-paiement .or-payment{
        display: block;
    }
    .mode-paiement{
        margin: 0 auto;
        float: none !important;
    }
}