#header{
    position: relative;
}
#header .header-main .header-main-block1{
    background-color: #000;
}
#header .navbar-main{
    background-color: #000;
}
#header .header-main{
    height: auto;
}
#header .header-bg{
    height: auto;
}
#header.header-top-fixed{
    position: relative;
}
.product.light .product-caption .product-cart button {
    display: inline-block;
    font-size: 19px;
    text-align: center;
    color: #6dbf4d;
    -webkit-backface-visibility: hidden;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    line-height: 40px;
    border: 1px solid rgba(109,191,77,.5);
    background-color: white;}
.product.light .product-caption .product-cart button:hover {
    background-color: #6dbf4d;
    color: #fff;
    border-color: #6dbf4d}

.product-detail-section .product-information .shopping-cart-buttons button.shoping
{
    width: 120px;
background-color: rgb(109, 191, 77);
color: rgb(255, 255, 255);
display: inline-block;
margin-top: 5px;
font-size: 16px;
text-align: center;
height: 38px;
border: none;

}

.product.light .fb-like{
    margin-top: 10px;
}
.block-chess-banners .concept-description p, .block-chess-banners .concept-description .block-chess p{
    color:#fff;
}

.date-countdown{
    margin-top: -30px;
    position: relative;
    z-index: 999999;
}