.cart-remove-product-button
{
    background: none;
    border: none;
}

div.tp-bannertimer, div.tp-loader.spinner0{
    display:none;
}
.date-countdown{
    text-align: center;
}
.mycountdown-day, .mycountdown-hour, .mycountdown-min, .mycountdown-sec{
    display: inline-block;
    color: #fff;
    background-color: #6dbf4d;
    margin: 0 2px;
    width: 40px;
    text-align: center;
}