@charset "utf-8";
    .raleway {
    font-family: 'Raleway',sans-serif}
.border-box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box}
.product.dark {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 5px solid rgba(14,14,14,.7);
    max-width: 263px;
    margin: 0 auto;
    overflow: hidden;
    position: relative}
.product.dark:hover {
    border-color: rgba(14,14,14,.9)}
.product.dark:hover .product-caption {
    background-color: rgba(14,14,14,.9)}
.product.dark:hover .product-compare {
    right: 10px}
.product.dark:hover .product-wishlist {
    right: 10px}
.product.dark .product-compare {
    position: absolute;
    font-size: 18px;
    text-align: center;
    color: rgba(14,14,14,.9);
    display: block;
    -webkit-backface-visibility: hidden;
    background-color: rgba(255,255,255,.9);
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    line-height: 40px;
    border: 1px solid rgba(14,14,14,.5);
    z-index: 103;
    bottom: 10px;
    right: -100px}
.product.dark .product-compare:hover {
    background-color: rgba(235,44,51,.9);
    color: #fff;
    border-color: rgba(235,44,51,.9)}
.product.dark .product-wishlist {
    position: absolute;
    font-size: 18px;
    text-align: center;
    color: rgba(14,14,14,.9);
    display: block;
    -webkit-backface-visibility: hidden;
    background-color: rgba(255,255,255,.9);
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    line-height: 40px;
    border: 1px solid rgba(14,14,14,.5);
    z-index: 103;
    bottom: 52px;
    right: -100px}
.product.dark .product-wishlist:hover {
    background-color: rgba(235,44,51,.9);
    color: #fff;
    border-color: rgba(235,44,51,.9)}
.product.dark .product-caption {
    text-align: left;
    padding: 10px 10px 5px 10px;
    background-color: rgba(14,14,14,.7)}
.product.dark .product-caption .product-name {
    font-size: 14px;
    padding: 0 0 5px;
    display: block;
    text-transform: initial;
    text-decoration: none;
    font-family: 'Raleway',sans-serif;
    color: #fff}
.product.dark .product-caption .product-name:hover {
    color: #eb2c33}
.product.dark .product-caption .block-name {
    display: inline-block}
.product.dark .product-caption .product-cart {
    color: #fff;
    display: inline-block;
    float: right;
    padding-top: 5px}
.product.dark .product-caption .product-cart a {
    display: inline-block;
    font-size: 19px;
    text-align: center;
    color: rgba(234,234,234,.7);
    -webkit-backface-visibility: hidden;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    line-height: 40px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid rgba(234,234,234,.3)}
.product.dark .product-caption .product-cart a:hover {
    background-color: #eb2c33;
    color: #fff;
    border-color: #eb2c33}
.product.dark .product-caption .product-price {
    color: #eb2c33;
    font-size: 15px;
    margin: 0}
.product.dark .product-caption .product-price span {
    color: rgba(234,234,234,.7);
    font-size: 13px;
    text-decoration: line-through}
.product.dark .product-rating {
    width: 100%;
    padding: 5px 0 3px;
    position: relative}
.product.dark .product-rating .stars {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 12px;
    text-align: left}
.product.dark .product-rating .stars span.star.active:before {
    content: "\f005"}
.product.dark .product-rating .stars span.star {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    display: inline-block}
.product.dark .product-rating .stars span.star:hover {
    cursor: pointer}
.product.dark .product-rating .stars span.star:before {
    content: "\f006";
    padding: 0 2px;
    color: rgba(235,44,51,.7)}
.product.dark .product-rating .stars span.star:hover:before,.product.dark .product-rating .stars span.star:hover~span.star:before {
    content: "\f005";
    color: #eb2c33}
.product.dark .product-rating .review {
    color: rgba(234,234,234,.7);
    font-size: 11px;
    position: absolute;
    left: 85px;
    top: 7px;
    text-decoration: none}
.product.dark .product-rating .review:hover {
    color: #eb2c33}
.product.dark .description {
    font-size: 14px;
    color: rgba(234,234,234,.7)}
.product.dark .product-new {
    position: absolute;
    font-size: 14px;
    z-index: 7;
    height: 38px;
    text-align: center;
    line-height: 28px;
    left: -25px;
    top: -8px;
    color: #fff;
    background-color: #eb2c33;
    width: 70px;
    padding-top: 10px;
    -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
    -moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
    -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
    -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
    transform: rotate(-45deg) scale(1) skew(0deg) translate(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden}
.product.dark .product-sale {
    position: absolute;
    font-size: 14px;
    z-index: 8;
    height: 60px;
    width: 60px;
    -webkit-border-radius: 40px!important;
    -moz-border-radius: 40px!important;
    border-radius: 40px!important;
    text-align: center;
    padding: 17px;
    line-height: 13px;
    right: 2px;
    top: 2px;
    color: #fff;
    background-color: rgba(235,44,51,.9);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden}
.header-for-dark {
    margin-bottom: 20px;
    position: relative}
.header-for-dark h1 {
    font-size: 42px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 0;
    color: #fff}
.header-for-dark h1 span {
    color: #6dbf4d}
.header-for-dark h3 {
    text-align: right;
    color: rgba(234,234,234,.7)}
.header-for-dark .header-bottom-line {
    display: block;
    border-bottom: 1px solid rgba(234,234,234,.5);
    height: 0}
.toolbar-for-dark {
    width: 80px;
    position: absolute;
    right: 0;
    top: 5px}
.toolbar-for-dark a {
    display: inline-block;
    height: 36px;
    width: 36px;
    line-height: 26px;
    padding: 0 7px;
    border: 1px rgba(234,234,234,.5) solid;
    color: rgba(234,234,234,.5);
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    vertical-align: top}
.toolbar-for-dark a:hover {
    border-color: #fff;
    background-color: #fff;
    color: #eb2c33}
.toolbar-for-dark a i {
    line-height: 36px;
    padding: 0 3px;
    font-size: 22px}
.toolbar-for-dark .next {
    float: right}
.payment-service.dark {
    border: 1px solid #666}
.payment-service.dark:hover {
    border-color: #eb2c33}
