.section-tagline
{
    text-align: left;
    max-width: none ;
    border-top: 1px solid #191919;
    padding: 40px 40px;
    margin: 0;
}
.section-tagline h2
{
    color: white;
    font-size: 22px;
}

.section-tagline img
{
    float: left;
    width: 200px;
    margin-right: 20px;
}

.section-tagline span
{
    color: #fff;
}