.logo-text{
    font-size: 12px;
    color: white;
    vertical-align: bottom;
    padding-top: 34px;
}
.logo-text span{
    margin-left: -100px;
}
.sub-title-3{
    margin: 0 0 20px;
    /*font-family:"Montserrat",sans-serif;*/
    font-size: 16px;
    color:#556;
    margin-bottom: 0px;
}
.sub-title-3.color-on-dark{
    color: rgb(255, 255, 255) !important;
}

.clearing-close{
    margin-top: 60px;
}

h3.title-uppercased.color-on-dark{
    color: #56b8dd !important;
}

.navbar-right{
    width: 100%;
}

.menu li a {
    margin-top: 20px;
    font-size: 12px;
}
.megamenu-list li a {
    margin-top: 0px;
}
.megamenu-list img{
    width: 50px;
    display: none;
}
.megamenu-list li a:hover + .megamenu-list li img{
    display: block;
}

.megamenu.full.calendar{
    width: 100px;
    left: inherit;
}
.intro-title{
    color: #156d9c;
    padding: 10px;
    background-color: white;
    /*//56b8dd*/
    /*border: #56b8dd solid 2px;*/
}

.intro-p{
    color: #156d9c;
}

.home-services{
    overflow-x: hidden;
}

@-webkit-keyframes services {

}
.home-services ul{
    -webkit-animation-name: services;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: services;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    overflow-x: hidden;
    width: 400%;
    -webkit-animation-timing-function: linear;
    margin: 30px 0;
    /*animation-direction: alternate;*/
    /*margin-left: 1000px;*/
}

ul li.box-services-cs{
    list-style: none;
    float: left;
    display: inline-block;
    width: 25%;
    text-align: center;
}
ul li.box-services-cs img{
    text-align: center;
    margin: 0 auto;
    width: 100px;
}
ul li.box-services-cs p{
    /*overflow: hidden;*/
    /*height: 20px;*/
    width: 100%;
    font-size: 30px;
}
.section-bg{
    margin: 0;
}

.menu{
    text-align: right;
}
.menu li{
    float: none;
}

.megamenu.full{
    text-align: left;
}

.megamenu-list .title{
    text-transform: uppercase;
}

.bg-incendie{
    background-image:url('../images/bg-incendie.jpg');
}
.bg-security{
    background-image:url('../images/bg-security.jpg');
}
.bg-secourisme{
    background-image:url('../images/massage.jpg');
}
.bg-disjoncteur{
    background-image:url('../images/bg-disjoncteur.jpg');
}
.bg-audit-conseil{
    background-image:url('../images/bg-audit-conseil.jpg');
}
@media screen and (max-width: 1199px){
    .logo-text span{
        margin-left: -90px;
        font-size: 12px;
    }
}
@media screen and (max-width: 991px){
    .logo{
        width: 60px;
        margin: 0 auto;
    }
    .logo-text{
        text-align: center;
        padding-top: 0;
    }
    .logo-text span{
        margin-left: 0;
    }
    .menu{
        text-align: center;
    }
    .menu li{
    }
    .toggle-menu .fa{
        margin-top: -30px;
    }
}

@media screen and (max-width: 360px){

    .toggle-menu .fa{
        margin-top: -50px;
    }
}

@media screen and (max-width: 767px){
    .menu{
        text-align: left;
    }
    .menu li{
    }
}

.galery .galery-list {
    text-align: center;
}
.galery .galery-list img {
    max-height: 220px;
}

