@charset "utf-8";
/* CSS Document */


@import "bootstrap.css";
@import "yamm.css";
@import "font-awesome.css";
@import "animate.css";
@import "revolution-settings.css";
@import "owl.carousel.css";
@import "lightbox.css";
@import "responsiveslides.css";
@import "main.css";
@import "dark-version.css";
@import "responsive-adjustments.css";






/*============================================================
		Style for Internet Explorer old Version
============================================================*/
.lt-ie9 .container{  width: 940px;}
.lt-ie9 .span12 { width: 940px;}
.lt-ie9 .span11 { width: 860px;}
.lt-ie9 .span10 { width: 780px;}
.lt-ie9 .span9 { width: 700px;}
.lt-ie9 .span8 { width: 620px;}
.lt-ie9 .span7 { width: 540px;}
.lt-ie9 .span6 { width: 460px;}
.lt-ie9 .span5 { width: 380px;}
.lt-ie9 .span4 { width: 300px;}
.lt-ie9 .span3 { width: 220px;}
.lt-ie9 .span2 { width: 140px;}
.lt-ie9 .span1 { width: 60px;}
.lt-ie9 .row-fluid .span12 {  width: 100%; *width: 99.94680851063829%;}
.lt-ie9 .row-fluid .span11 {  width: 91.48936170212765%; *width: 91.43617021276594%;}
.lt-ie9 .row-fluid .span10 {  width: 82.97872340425532%;  *width: 82.92553191489361%;}
.lt-ie9 .row-fluid .span9 {  width: 74.46808510638297%;  *width: 74.41489361702126%;}
.lt-ie9 .row-fluid .span8 {  width: 65.95744680851064%;  *width: 65.90425531914893%;}
.lt-ie9 .row-fluid .span7 {  width: 57.44680851063829%;  *width: 57.39361702127659%;}
.lt-ie9 .row-fluid .span6 {  width: 48.93617021276595%;  *width: 48.88297872340425%;}
.lt-ie9 .row-fluid .span5 {  width: 40.42553191489362%;  *width: 40.37234042553192%;}
.lt-ie9 .row-fluid .span4 {  width: 31.914893617021278%;  *width: 31.861702127659576%;}
.lt-ie9 .row-fluid .span3 {  width: 23.404255319148934%;  *width: 23.351063829787233%;}
.lt-ie9 .row-fluid .span2 {  width: 14.893617021276595%;  *width: 14.840425531914894%;}
.lt-ie9 .row-fluid .span1 {  width: 6.382978723404255%;  *width: 6.329787234042553%;}


.lt-ie9 .image-block { position:relative; display:block; margin:auto; overflow:hidden; }
.lt-ie9 .image-block  img { width:100%; height:100%;display:block;}

.lt-ie9 .toggle-box .toggle-box-header {width:90%;}
.lt-ie9 .author{display: block; height: 80px; width: 100%;}
.lt-ie9 .author .image-with-transparent-border { position:relative;width: 80px; overflow:hidden; float:left; }
.lt-ie9 .author .image-with-transparent-border img{width:100%; height:100%;display:block;}
.lt-ie9 .media .image-with-transparent-border { position:relative;width: 80px; overflow:hidden; float:left; }
.lt-ie9 .media .image-with-transparent-border img{width:100%; height:100%;display:block;}
.lt-ie9 .tt-wrapper li a span{display: none;}
.lt-ie9 .tt-wrapper li a i {margin-left: 20px;}
.lt-ie9 .form-inline .btn{ float: right;}
.lt-ie9 .product .product-sale-time{top: 100px;}