
.slideshow {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.slideshow > li {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 0;
}

.slideshow > li > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slideshow-sizer {
    width: 100%;
    height: auto;
    visibility: hidden;
    z-index: -1;
}

.slideshow > .active {
    opacity: 1;
    z-index: 1;
}