



@media screen and (max-width: 1199px){
    .payment-service{
        height: 140px;
    }
}
@media screen and (max-width: 991px){
    .payment-service{
        height: 160px;
    }
    .header-main-block1 .row-logo{
    padding-bottom: 30px;
}
}
@media screen and (max-width: 767px){
    i.button-navbar{
        display: block;
        position: absolute;
        top: 0px;
        right: 0;
    }
}
@media screen and (max-width: 467px){
    #header .header-mini-cart{
        width: 100%;
    }
}