.header-main-block1{
    padding: 20px 0 10px 0;
}


#header .top-icons .top-icon span{
    width: 34px;
    height: 34px;
    font-size: 12px;
    line-height: 36px;
    top : -22px;
    right: -10px;
}

.second-page-container{
    padding-top: 0;
}
div#navbar-collapse-1.navbar-collapse.collapse.col-md-3{
    float:right;
}

i.button-navbar{
    display: none;
    float: right; 
    margin: 14px 40px;
}

i.button-navbar:hover{
    cursor: pointer;
}

.menubar-collapse{
    display: none;
    background-color: black;
}
.menubar-collapse ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menubar-collapse ul li{
    height: 50px;
    line-height: 50px;
    border-bottom: #6dbf4d solid 1px;
}

.payment-service{
    height: 120px;
}

.footer-copy .footer-logo{
    text-align: center;
    margin: 0 auto;
}

.footer-copy .footer-logo a{
    background: url("../img/LogoHootei-footer.png") no-repeat;
}

.copyright, .mode-paiement{
    text-align: center;
}
