.btn-green{
    background-color: #dbf2b6;
}
#forum .article-block{
    margin-top: 10px;
}

#forum .supprimer{
    padding-right: 10px;
}

#forum span{
    color: #8cc73f;
}
#forum ul{
    list-style: none;
}
#forum .pages{
    
    text-align: center;
}

#forum .pages li{
    display: inline-block;
}

#forum .article, #forum .form-article{
    background-color: white;
    padding: 10px;
    border: 1px solid #8cc73f;
    border-bottom: none;
}

#forum .article, #forum .form-article:first-child{
}

#forum .article .article-username{
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
}



#forum .article .article-created-ago{
    font-size: 14px;
    font-weight: lighter;
}
#forum .article-comments{
    background-color: #daeac1;
    border: 1px solid #8cc73f;
    border-top: none;
    border-bottom: none;
    padding-top: 10px;
    height: 200px;
overflow-y: auto;
}

#forum .article-comments comment-created-ago{
    
}
#forum #comments .add-comment{
    padding: 10px;
    background-color: #daeac1;
    
    border: 1px solid #8cc73f;
    border-top: none;
}

#forum .add-comment input, #forum .add-comment textarea{
    margin: 5px 0;
}