/*
Theme Name: Rosemary
Theme URI: http://solopine.com/theme/rosemary
Description: A WordPress Blog Theme
Author: Solo Pine Designs
Author URI: http://solopine.com
Version: 1.3
License: Themeforest Licence
License URI: http://themeforest.net/licenses
Text domain: solopine
*/

/* Global reset */
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}

/* Global reset-RESET */
strong { font-weight: bold }
em { font-style: italic }
a img { border:none }

strong, b, strong *, b * { font-weight: bold; } em, i, em *, i * { font-style: italic; }
/**/

body {
	background:#ffffff;
	font-family:"Lato", sans-serif;
	color:#424242;
	font-size:13px;
}

p {
	line-height:23px;
}

a {
	text-decoration:none;
	color:#C69F73;
}

h1,h2,h3,h4,h5,h6 {
	/*font-family:"Playfair Display";*/
}

/***
/* General
/********************/

.container {
	width:1080px;
	margin:0 auto;
}

#content {
	overflow:hidden;
	margin-bottom:140px;
}

#main {
	width:760px;
	float:left;
}
#main.fullwidth {
	width:100%;
	float:none;
}

#sidebar {
	width:260px;
	float:right;
}


/*****
/* Top Bar
/********************/

#top-bar {
	background:#fff;
	width:100%;
	height:51px;
	position:fixed;
	z-index:9999;
	box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
	-webkit-box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
	-moz-box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
	-webkit-backface-visibility: hidden;
}
#top-bar .container {
	position:relative;
}

	/*** Menu ***/
	#nav-wrapper {
		float:left;
	}
	
	.slicknav_menu { display:none; }
	
	#nav-wrapper .menu li {
		display:inline-block;
		margin-right:28px;
		position:relative;
	}
	#nav-wrapper .menu li a {
		font-size:10px;
		text-transform:uppercase;
		letter-spacing:1px;
		line-height:51px;
		color:#000;
		display:block;
	}
	#nav-wrapper .menu li.current-menu-item > a, #nav-wrapper .menu li.current_page_item > a, #nav-wrapper .menu li a:hover {
		color:#C69F73;
	}
	#nav-wrapper .menu li.current-menu-item > a, #nav-wrapper .menu li.current_page_item > a {
		font-weight:700;
	}
	
		/*** DROPDOWN ***/
		#nav-wrapper .menu .sub-menu,
		#nav-wrapper .menu .children {
			background-color: #fff;
			display: none;
			padding: 0;
			position: absolute;
			margin-top:0;
			left: 0;
			z-index: 99999;
			border:1px solid #eee;
			border-top:none;
		}
		
		#nav-wrapper ul.menu ul a,
		#nav-wrapper .menu ul ul a {
			color: #727272;
			margin: 0;
			padding:6px 10px;
			min-width: 165px;
			line-height:20px;
			-o-transition:.22s;
			-ms-transition:.22s;
			-moz-transition:.22s;
			-webkit-transition:.22s;
			transition:.22s;
			border-top:1px solid #eee;
		}
		
		#nav-wrapper ul.menu ul li,
		#nav-wrapper .menu ul ul li {
			padding-right:0;
			margin-right:0;
		}

		#nav-wrapper ul.menu ul a:hover,
		#nav-wrapper .menu ul ul a:hover {
			color: #C69F73;
			background:#f5f5f5;
		}

		#nav-wrapper ul.menu li:hover > ul,
		#nav-wrapper .menu ul li:hover > ul {
			display: block;
		}
		
		#nav-wrapper .menu .sub-menu ul,
		#nav-wrapper .menu .children ul {	
			left: 100%;
			top: 0;
			
		}
		
	/*** Social Icons ***/
	#top-social {
		position:absolute;
		right:185px;
		top:0;
	}
	#top-social.nosearch { right:0; }
	#top-social a {
		color:#000;
		font-size:13px;
		margin-left:10px;
		line-height:51px;
	}
	#top-social a:hover {
		color:#C69F73;
	}
	
	/*** Top Search ***/
	#top-search {
		position:absolute;
		right:0;
		top:0;
		padding-left:16px;
		border-left:1px solid;
		border-color:#e8e8e8;
		z-index:999;
	}
	#top-search form { display:inline; }
	#top-search input {
		border:none;
		font-style:italic;
		width:135px;
		background:transparent;
	}
	#top-search input:focus {
		outline:none;
	}
	#top-search i {
		font-size:14px;
		line-height:51px;
	}
	
	.show-search {
		display:none;
	}
	i.search-toggle {
		font-size:14px;
		line-height:51px;
		display:none;
		cursor:pointer;
	}
	.show-search {
		position:absolute;
		top:51px;
		right:-1px;
		display:none;
		z-index:10000;
	}
	.show-search input {
		width:190px;
		background:#FFF;
		-webkit-box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
		-moz-box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
	    box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
		border:1px solid #eee;
		padding:10px 0 10px 10px;
		font-style:italic;
	}
	.show-search input:focus {
		border:1px solid #ddd;
		outline:none;
	}
	
/*****
/* Header & Logo
/********************/

#header {
	padding-top:51px;
	margin-bottom:60px;
	border-bottom:1px solid #eee;
}
.home #header, .page-template-page-slider #header, .page-template-page-slider-sidebar #header {
	margin-bottom:0;
	border-bottom:none;
}


#logo {
	text-align:center;
	padding:68px 0 41px;
}

#logo {
	max-width:100%;
	height:auto;
}

/*****
/* Featured Area
/********************/
.featured-area {
	margin-bottom:60px;
}

.feat-item {
	position:relative;
	height:660px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display:block;
	width:100%;
	padding:17.2% 32.5%;
}
.feat-overlay {
	background:rgba(255,255,255,1);
	position:relative;
	height:100%;
	width:100%;
	display:table;
	vertical-align:middle;
	text-align:center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow:hidden;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.25);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.25);
	        box-shadow: 0 8px 6px -6px rgba(0,0,0,.25);
}
.feat-overlay-inner {
	vertical-align:middle;
	display:table-cell;
}
.feat-item .post-header {
	margin-bottom:0;
	padding:0 20px;
}
.feat-item .post-header .date {
	display:block;
	margin-bottom:28px;
}
.feat-item .post-header h2 {
	margin-bottom:14px;
}
.feat-item .post-header h2 a {
	font-size:24px; 
}
.feat-item .read-more {
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#000;
	background:#ffffff;
	font-weight:700;
	display:inline-block;
	padding:12px 26px 13px;
	border:1px solid;
	border-color: #C69F73;
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
}
.feat-item .read-more:hover {
	background:#C69F73;
	color:#fff;
}



/*****
/** Post
/***********************/

.post {
	margin-bottom:50px;
}

/*** Post header ***/
.post-header {
	margin-bottom:25px;
	text-align:center;
}
.post-header .cat a {
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:2px;
	border-bottom:1px solid;
	border-color:#C69F73;
	padding-bottom:2px;
	display:inline-block;
	margin:0 4px 12px 4px;
}
.post-header h2, .post-header h1 {
	margin-bottom:10px;
}
.post-header h2 a, .post-header h1 {
	color:#000;
	font-size:26px;	
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
}
.post-header h2 a:hover {
	opacity:.60;
}

.post-header .date {
	font-size:11px;
	font-style:italic;
	color:#888;
}

/*** Post Image ***/
.post-img {
	margin-bottom:20px;
	text-align:center;
}
.post-img img {
	max-width:100%;
	height:auto;
}
.post-img.audio iframe {
	height:166px;
	width:100%;
}

	/*** Post Entry ***/
	
	.post-entry img {
		max-width:100%;
		height:auto;
	}
	
	.post-entry p, .post-entry h1, .post-entry h2, .post-entry h3, .post-entry h4, .post-entry h5, .post-entry h6, .post-entry hr {
    	margin-bottom:18px;
	}
	.post-entry h1, .post-entry h2, .post-entry h3, .post-entry h4, .post-entry h5, .post-entry h6 {
		color:#000;
	}
	.post-entry h1 {
		font-size:26px;
	}
	.post-entry h2 {
		font-size:24px;
	}
	.post-entry h3 {
		font-size:21px;
	}
	.post-entry h4 {
		font-size:19px;
	}
	.post-entry h5 {
		font-size:17px;
	}
	.post-entry h6 {
		font-size:15px;
	}
	.post-entry hr {
		border:0;
		height:0;
		border-bottom:1px solid #e5e5e5;
		clear:both;
	}
	.post-entry blockquote {
		border-left:3px solid;
		border-color:#C69F73;
		padding:0 18px;
	}
	.post-entry blockquote p {
		font-family:"Georgia";
		font-size:18px;
		line-height:28px;
		font-style:italic;
		color:#999;
	}
	
	.post-entry a:hover {
		text-decoration:underline;
	}
	
	.post-entry ul, .post-entry ol {
		padding-left:45px;
		margin-bottom:20px;
	}
	.post-entry ul li {
		margin-bottom:12px;
		list-style:square;
	}
	.post-entry ol li {
		margin-bottom:12px;
		list-style:decimal;
	}

	.sticky.post .post-header { border:1px dashed #eee; padding:20px 0; }
	.bypostauthor  {}
	.post-entry pre {
		overflow:auto;
	}

	.post-entry table { width:100%; margin-bottom:22px; border-collapse:collapse }
	.post-entry td, .post-entry th { padding: 12px; border-bottom: 1px #e5e5e5 solid; }
	.post-entry th { font-weight:bold; font-size:14px; background:#f5f5f5;}
	.post-entry tr:hover {
		background:#f9f9f9;
	}
	
	/*** More button ***/
	.more-link {
		text-align:center;
		display:block;
	}
	.more-button {
		font-size:10px;
		text-transform:uppercase;
		letter-spacing:2px;
		color:#000;
		background:#ffffff;
		font-weight:700;
		display:inline-block;
		margin-top:16px;
		padding:9px 24px 10px;
		border:1px solid;
		border-color:#C69F73;
		-o-transition:.2s;
		-ms-transition:.2s;
		-moz-transition:.2s;
		-webkit-transition:.2s;
	}
	.more-button:hover {
		background:#C69F73;
		color:#fff;
		border:1px solid;
		border-color:#C69F73;
	}
	
/*** Post Meta ***/
.post-meta {
	margin-top:35px;
	overflow:hidden;
	border-bottom:1px solid #e5e5e5;
	padding-bottom:10px;
	font-style:italic;
	clear:both;
}
.meta-comments {
	float:left;
}
.meta-comments a {
	color:#424242;
	font-size:13px;
}
.meta-share {
	float:right;
	color:#999;
	font-size:13px;
}
.share-text { 
	margin-right:2px;
}
.meta-share a {
	margin-left:9px;
	font-size:16px;
}

/*** Post author ***/
.post-author {
	margin-bottom:60px;
	margin-top:60px;
	overflow:hidden;
}	

.author-img {
	float:left;
	margin-right:30px;
}

.author-img img {
	border-radius:50%;
}

.author-content h5 a {
	font-size:18px;
	margin-bottom:8px;
	color:#000;
	display:block;
}

.author-content p {
	margin-bottom:8px;
}

.author-content .author-social {
	font-size:14px;
	color:#bbb;
	margin-right:8px;
}

/*** Post related ***/
.post-related {
	overflow:hidden;
	margin-bottom:60px;
	margin-top:60px;
}

.post-box { text-align:center; }
.post-box-title {
	font-size:11px;
	letter-spacing:2px;
	text-transform:uppercase;
	margin-bottom:30px;
	font-weight:700;
	border-bottom:1px solid #ddd;
	padding-bottom:4px;
	display:inline-block;
	font-family:"Lato";
}

.item-related {
	width:240px;
	float:left;
	margin-right:20px;
}
.item-related:last-child {
	margin-right:0;
}

	#main.fullwidth .item-related {
		width:340px;
		margin-right:30px;
	}
	#main.fullwidth .item-related:last-child {
		margin-right:0;
	}

.item-related img {
	margin-bottom:6px;
	width:100%;
	height:auto;
}
.item-related h3 {
	margin-bottom:4px;
}
.item-related h3 a {
	font-size:14px;
	color:#424242;
	font-family:"Lato";
}
.item-related h3 a:hover {
	text-decoration:underline;
}
.item-related span.date {
	font-size:11px;
	font-style:italic;
	color:#999;
}

/** Post tags ***/
.post-tags {
	margin-top:25px;
	margin-bottom:-15px;
	padding-bottom:13px;
	clear:both;
}
.post-tags a {
	font-size:10px;
	letter-spacing:1px;
	text-transform:uppercase;
	background:#f2f2f2;
	color:#666;
	padding:7px 8px;
	margin-right:7px;
	border-radius:3px;
	margin-bottom:5px;
	display:inline-block;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
}
.post-tags a:hover {
	background:#ddd;
	color:#666;
	text-decoration:none;
}

/*** Comments ***/
.post-comments {
	margin-bottom:60px;
	margin-top:60px;
}

.comments {
	margin-bottom:40px;
}

.thecomment {
	border-bottom:1px dotted #eee;
	padding-bottom:34px;
	margin-bottom:34px;
}

.thecomment .author-img {
	float:left;
	margin-right:20px;
}
.thecomment .author-img img {
	border-radius:50%;
}
.thecomment .comment-text {
	overflow:hidden;
}
.thecomment .comment-text span.author, .thecomment .comment-text span.author a {
	display:block;
	font-size:13px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:6px;
	color:#424242;
}
.thecomment .comment-text span.author a:hover {
	text-decoration:underline;
}

.thecomment .comment-text span.date {
	font-size:11px;
	color:#999;
	font-style:italic;
	display:block;
	margin-bottom:6px;
}

.thecomment .comment-text em {
	font-size:13px;
	margin-bottom:-14px;
	display:block;
	color:orange;
	letter-spacing:1px;
}
.thecomment .comment-text em i {
	font-size:14px;
	color:#f3bd00;
}

.post-comments span.reply a {
	float:right;
	font-size:10px;
	background-color:#aaa;
	color:#FFF;
	padding:2px 5px 4px 5px;
	border-radius:2px;
	margin-left:7px;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
.post-comments span.reply a.comment-edit-link {
	background:#c5c5c5;
}
.post-comments span.reply a:hover {
	opacity:.8;
}

.post-comments ul.children { margin: 0 0 0 55px; }
.post-comments ul.children li.thecomment { margin:0 0 8px 0; }

/** Reply **/
#respond {
	margin-bottom:20px;
	overflow:hidden;
}

#respond  h3 {
	font-size:11px;
	color:#999;
	font-weight:700;
	margin-bottom:20px;
	font-family:"Lato";
	letter-spacing:2px;
	text-transform:uppercase;
}

#respond h3 a {
	color:#000;
	display:inline-block;
}

#respond h3 small a {
	text-transform:uppercase;
	font-size:11px;
	background:#333;
	color:#FFF;
	padding:4px 6px 5px;
	border-radius:3px;
	margin-left:7px;
	letter-spacing:1px;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
#respond h3 small a:hover {
	opacity:.8;
}

#respond label {
	color:#888;
	width:80px;
	font-size:13px;
	display:inline-block;
	font-weight:300;
}
#respond input {
	padding:8px 10px;
	border:1px solid #DDD;
	margin-right:10px;
	border-radius: 3px;
	color:#999;
	margin-bottom:15px;
	font-size:11px;
	width:250px;
	font-family:"Lato";
}
#respond input:focus {outline:none;}
#respond .comment-form-url {
	margin-bottom:10px;
}
#respond textarea {
	padding:14px;
	border:1px solid #DDD;
	border-radius: 3px;
	width:95%;
	height:120px;
	font-size:13px;
	color:#777;
	margin-bottom:14px;
	line-height:20px;
	font-family:"Lato";
}
#respond textarea:focus {outline:none;}

#respond #submit {
	text-transform:uppercase;
	letter-spacing:2px;
	background:#eee;
	border-radius:0;
	font-size:11px;
	color:#666;
	padding:12px 19px 14px;
	margin-top:6px;
	display:inline-block;
	border:none;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
	cursor:pointer;
	border-radius:30px;
	width:auto;
}

#respond #submit:hover {
	background:#333;
	color:#FFF;
}

/*****
/** Pagination
/***********************/

.pagination {
	margin-top:60px;
	overflow:hidden;
	margin-bottom:40px;
}

.pagination a {
	display:inline-block;
	letter-spacing:2px;
	text-transform:uppercase;
	font-size:11px;
	border-bottom:1px solid #e5e5e5;
	padding-bottom:5px;
	font-weight:700;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
}
.pagination a:hover {
	color:#424242;
}
.pagination .newer {
	float:left;
	
}
.pagination .older {
	float:right;
}

/*****
/** Post List Layout
/***********************/
.list-item {
	overflow:hidden;
	margin-bottom:30px;
	padding-bottom:30px;
	border-bottom:1px solid #eee;
}
.list-item .list-content {
	overflow:hidden;
}
.list-item .post-img {
	float:left;
	margin-right:25px;
	margin-bottom:0;
}
.list-item .post-img img {
	max-width:270px;
}
.list-item .list-content .post-header {
	text-align:left;
}
.list-item .post-header h2 a {
	font-size:22px;
}
.list-item .post-header .cat a {
	margin:0 8px 7px 0;
}
.list-item .post-header  {
	margin-bottom:14px;
}
.list-meta .date {
	font-size:11px;
	font-style:italic;
	color:#999;
}
.list-item .post-entry p {
	margin-bottom:14px;
}

/*****
/** Post Grid Layout
/***********************/
.grid-item {
	margin-bottom:40px;
}
.sp-grid > li {
	width:365px;
	display:inline-block;
	vertical-align: top;
	margin-right: 26px;
}

	/* fullwidth */
	#main.fullwidth .sp-grid > li {
		width:520px;
		margin-right:36px;
	}
	#main.fullwidth .sp-grid li:nth-of-type(2n+2) {
		margin-right:0;
	}

.sp-grid li:nth-of-type(2n+2) {
	margin-right:0;
}
.grid-item .post-header .cat a {
	margin:0 4px 8px 4px;
}
.grid-item .post-header h2 a {
	font-size:22px;
}
.grid-item .post-header  {
	margin-bottom:16px;
}

/*****
/** Sidebar & Widgets
/***********************/

.widget {
	margin-bottom:38px;
}

.widget-title {
	border:1px solid;
	border-color:#C69F73;
	font-size:10px;
	color:#000;
	text-transform:uppercase;
	letter-spacing:2px;
	font-family:"Lato";
	font-weight:700;
	text-align:center;
	margin-bottom:25px;
	padding:16px 0;
}
.widget a:hover {
	text-decoration:underline;
}

.widget input, .widget select {
	border:1px solid #ddd;
	color:#888;
	padding:9px 7px;
	width:100%;
}
.widget input:focus, .widget select:focus {
	outline:none;
	border:1px solid #d5d5d5;
}

.widget ul li {
	margin-bottom:7px;
	padding-bottom:8px;
	border-bottom:1px dotted #d5d5d5;
}
.widget ul li:last-child {
	margin-bottom:0;
	padding-bottom:0;
	border-bottom:none;
}
.widget ul li a {
	color:#424242;
}

.widget img {
	max-width:100%;
	height:auto;
}

	/*** About Widget ***/
	.about-widget {
		text-align:center;
	}
	.about-widget img {
		margin-bottom:10px;
		max-width:100%;
		height:auto;
	}
	.about-round { 
		border-radius:50%;
	}
	
	/** Social Widget **/
	.social-widget {
		text-align:center;
	}

	.social-widget a:first-child {
		margin-left:0;
	}
	.social-widget a:last-child {
		margin-right:0;
	}

	.social-widget a i {
		height:16px;
		width:20px;
		text-align:center;
		line-height:20px;
		color:#161616;
		border-radius:50%;
		margin:0 8px;
		font-size:16px;
	}

	.social-widget a:hover > i {
		color:#C69F73;
	}
	
	/** WIDGET ITEMS **/
	
	/* - Post Widget ----- */
	.side-pop {
		margin-bottom:25px;
	}
	.side-pop:after {
		content: "";
		display: table;
		clear: both;
	}
	.side-pop:last-child {
		margin-bottom:0;
	}
	.side-pop-img {
		margin-bottom:12px;
		position:relative;
	}
	.side-pop-img img {
		vertical-align:middle;
	}
	.side-pop-content {
		text-align:center;
	}
	.side-pop-content h4 {
		margin-bottom:7px;
	}
	.side-pop-content h4 a {
		font-size:15px;
		color:#000;
		font-family:"Lato", sans-serif;
	}

	.side-pop-content span.sp-date {
		font-size: 11px;
		color: #999;
		font-style: italic;
		display:block;
	}
	.side-count {
		position: absolute;
		left: -8px;
		top: -8px;
		height: 38px;
		width: 38px;
		line-height: 38px;
		background-color: #121212;
		border-radius: 100%;
		color: #fff;
		font-size: 16px;
		text-align: center;
	}
	.side-pop.list .side-count {
		height: 28px;
		width: 28px;
		line-height: 28px;
		font-size:13px;
	}
	/* ----- Overlay layout ----- */
	.side-pop.overlay .side-pop-content {
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		background: -moz-linear-gradient(bottom,rgba(0,0,0,.7) 0,rgba(0,0,0,0) 100%);
		background: -webkit-linear-gradient(bottom,rgba(0,0,0,.7) 0,rgba(0,0,0,0) 100%);
		background: linear-gradient(to top,rgba(0,0,0,.7) 0,rgba(0,0,0,0) 100%);
		padding:80px 20px 15px;
		box-sizing:border-box;
	}
	.side-pop.overlay .side-pop-content h4 a  { 
		color:#fff;
		font-weight:500;
	}
	.side-pop.overlay .side-pop-content span.sp-date {
		color:#bbb;
	}
	.side-pop.overlay .side-pop-img {
		margin-bottom:0;
	}

	/* ----- Post List view ----- */
	.side-pop.list {
		margin-bottom:24px;
	}
	.side-pop.list:last-child  {
		margin-bottom:0;
	}
	.side-pop.list .side-pop-img {
		float:left;
		max-width:94px;
		margin-right:15px;
		margin-bottom:0;
	}
	.side-pop.list .side-pop-content {
		text-align:left;
		overflow:hidden;
	}
	.side-pop.list .side-pop-content h4 a {
		font-size:13px;
	}
	
	/*** Widget categories/archives ***/
	.widget_categories ul li, .widget_archive ul li {
		color:#999;
	}
	.widget_categories a, .widget_archive a {
		margin-right:5px;
	}
	
	/*** Tagcloud widget ***/
	.widget .tagcloud a {
		font-size:9px !important;
		letter-spacing:1px;
		text-transform:uppercase;
		background:#f2f2f2;
		color:#777;
		padding:6px 8px 7px;
		margin-right:5px;
		margin-bottom:8px;
		display:inline-block;
		-o-transition:.3s;
		-ms-transition:.3s;
		-moz-transition:.3s;
		-webkit-transition:.3s;
	}
	.widget .tagcloud a:hover {
		opacity:.7;
		text-decoration:none;
	}
	
	/*** Calender widget ***/
	#wp-calendar {width: 100%; }
	#wp-calendar caption { text-align: right; color: #777; font-size: 12px; margin-top: 10px; margin-bottom: 15px; border-bottom:1px solid #e5e5e5; padding-bottom:8px; }
	#wp-calendar thead { font-size: 12px;  }
	#wp-calendar thead th { padding-bottom: 10px; }
	#wp-calendar tbody { color: #aaa; }
	#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px; font-size:12px; }
	#wp-calendar tbody td a { font-weight:700; color:#222; }
	#wp-calendar tbody td:hover { background: #fff; }
	#wp-calendar tbody .pad { background: none; }
	#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
	#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }
	#wp-calendar thead th { padding-bottom: 10px; text-align: center; }
	
	/*** Instagram widget ***/
	#sidebar .instagram-pics li {
		width: 31.8%;
		display: inline-block;
		border-bottom: none;
		padding: 0;
		margin: 0 2px 2px;
	}
	#sidebar .instagram-pics li img {
		max-width:100%;
	}
	#sidebar .instagram-pics li img:hover {
		opacity:.87;
	}
	
	/*** Search Widget ***/
	.widget #searchform input#s {
		border: 1px solid #e5e5e5;
		background:#fff url(img/searchsubmit.png) no-repeat 96% 13px;
		padding:14px 14px;
		font-size:11px;
		color:#999;
		letter-spacing:1px;
	}
	
	.widget #searchform #s:focus { outline:none; }

	/** Searchbar for widget ***/
	.widget #searchform input#s { 
		width:230px;
	}
	
	/* Widget menu */
	.widget ul.menu li ul {
		padding-left:12px;
		margin-top:8px;
	}
	
	/* ---- Promo Widget ---- */
	.promo-item {
		display: table;
		width:100%;
		height:130px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		position:relative;
	}
	.promo-overlay {
		height: 100%;
		display: table-cell;   
		vertical-align: middle;   
		text-align:center;
	}  
	.promo-overlay  h4 {
		color:#000;
		line-height:1.5em;
		padding:9px 15px 8px;
		font-size:11px;
		text-transform:uppercase;
		letter-spacing:2px;
		background:#ffffff;
		display:inline-block;
		font-family:"Lato", sans-serif;
	}
	.promo-link {
		position: absolute; 
		height: 100%; 
		width: 100%;
		top: 0;
		left:0;
		z-index: 999;
		display: block
	}
	
/*****
/** Footer Instagram
/***********************/

#instagram-footer {
	text-align:center;
	overflow:hidden;
}
.instagram-title {
	font-size:16px;
	text-transform:uppercase;
	margin-bottom:22px;	
}
#instagram-footer .instagram-pics li {
	width:16.66666666666667%;
	display:inline;
	float:left;
}
#instagram-footer .instagram-pics li img {
	max-width:100%;
}
#instagram-footer .instagram-pics li img:hover {
	opacity:.87;
}
#instagram-footer p.clear {
	font-size: 11px;
	border-bottom: 1px solid #eee;
	display: inline-block;
	margin-top: 5px;
}

/*****
/** Footer
/***********************/

#footer {
	padding: 16px 0 28px;
	overflow:hidden;
}

#footer .copyright {
	font-style:italic;
	font-size:12px;
	color:#888;
}
#footer .copyright.left {
	float:left;
}
#footer .copyright.right {
	float:right;
}

/*****
/** Archives & Categories
/**************************/
.archive-box {
	text-align:center;
	background:#f4f4f4;
	margin-top:-61px;
	padding:40px 0;
	margin-bottom:60px;
}
.archive-box h1 {
	font-size:36px;
	color:#000;
}
.archive-box span {
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#999;
	display:inline-block;
	border-bottom:1px solid #d8d8d8;
	padding-bottom:3px;
	margin-bottom:5px;
}
.nothing {
	font-size:14px;
	color:#999;
	text-align:center;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.screen-reader-text {}

/*** Custom WordPress gallery style ***/
.gallery .gallery-caption{  
    font-size:12px;
	color:#888;
	font-family:"Open Sans";
}  
  
.gallery .gallery-icon img{  
    border-radius:2px;  
    border:none !important;  
	padding:6px;
	box-sizing:border-box;
}  

/*** 404 error ***/
.error-page {
	text-align:center;
}
.error-page h1 {
	font-size:186px;
	color:#000;
}
.error-page p {
	color:#999;
	font-style:italic;
}

/*** Contact Form 7
/************************/
.wpcf7 input {
	width:266px;
}
div.wpcf7 {
	overflow:hidden;
	margin-top:40px;
}
.wpcf7 input, .wpcf7 textarea {
	padding:8px;
	border:1px solid #DDD;
	margin-right:10px;
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
	color:#777;
	font-size:12px;
	margin-top:6px;
	margin-bottom:6px;
}
.wpcf7 textarea {
	width:95%;
}
.wpcf7 .wpcf7-submit {
	background:#eee;
	-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius:20px;
	padding:12px 24px;
	color:#666;
	letter-spacing:3px;
	font-size:11px;
	text-transform:uppercase;
	cursor:pointer;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
	display:block;
	border:none;
	width:auto;
}
.wpcf7 .wpcf7-submit:hover {
	background:#333;
	color:#fff;
}