.menu-deroulant
{   
    background-color: #575858;
    display: none;
}
.menu-deroulant ul
{
    text-align: center;
    list-style: none;
    padding: 0;
}

.menu-deroulant ul li
{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #3e3e3e;
    color: #fff;
}
.menu-deroulant ul li span
{
    color: #fff;
}

div#a-propos.bh-position-wrapper.bh-position-color.uk-nbfc, .bh-position-wrapper
{
    z-index: 999;
}

.bh-fixed-background-header + .bh-position-wrapper 
{
    margin-top: 0;
}

.bh-fs-slideshow,
.bh-slideshow 
{
    position: relative;
}

.bh-footer .copyright-site-name
{
    font-weight: bold;
}
.bh-footer .copyright-site-name, .bh-footer .uk-subnav li a
{
    color: #fff;
}

div.bh-header.uk-sticky-init.uk-active
{
    z-index: 1000 !important;
    left: auto !important;
}

div.bh-header.uk-sticky-init.uk-active.uk-animation-slide-top
{
    left: auto !important;
}
/*
html.uk-notouch{
    margin-top: 0px;
    
}*/