.background-nettoyage-industriel
{
    background-image: url('../images/nettoyage-vitre1.jpg');
}

/*.bh-navbar .uk-parent a
{
    color: white;
}*/

.page-title h1
{
    color:white;
}

.bh-subnav-line li a:hover:before,
.bh-subnav-line li a:active:before,
.bh-subnav-line li.uk-active a:before
{
    background: #fff ;
}

.bh-subnav-line li.uk-active a
{
    color: #1fb0de;
}

.uk-subnav > li:nth-child(n+2)
{
    margin-left: 0;
}



.incline{
    transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -khtml-transform: rotate(-20deg);
    margin-bottom: 20px;
}

@media screen and (max-width: 820px)
{
    .incline{
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -khtml-transform: none;
    }
    
    .bh-subnav-line li
    {
        width: 100%;
    }
}

.uk-panel-box .uk-panel-teaser
{
    text-align: center;
}
