.header-bank{
    position: relative;
    width: 140px;
    height: 40px;
    right: 0;
    text-align: center;
    background: url("../img/card.png") no-repeat rgba(14,14,14,.5) center right;
    margin: 5px 0 0 5px
}

.header-bank a{
    text-decoration: none;
display: block;
height: 100%;
outline: 0;
text-shadow: none;
text-align: left;
color: #eaeaea;
line-height: 14px
}

.header-bank a span{
    height: 20px;
font-size: 11px;
line-height: 20px;
color: #aaa;
display: block;
}